<p id="notice"><%= notice %></p>
<br>
<br>
<br>
<p>
  <strong>Username:</strong>
  <%=current_user.name %>
</p>

<h2> <%=current_user.name %>'s events </h2>
<ul>
  <% current_user.attended_events.each do |event| %>
      <%= link_to event.title, event_path(event.id)%>
  <%end%>
</ul>

